.container{
    height: 500px;
    width: 800px;
    background-color: aqua;

}

.slider{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 4px;
    bottom: 40px;
}

.item{
    
    height: 150px;
    width: 150px;
    transition: 1.2s;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submain{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

.arrow{
    background-color: rgb(190, 190, 190);
    border-radius: 100%;
}

.arrow:hover{
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    transition: 1.2s;
    transition: ease-in-out;
}
